@{
	ViewData["Title"] = "Product Detail";
}

<!-- Producto -->
    <div class="container my-5">
    <div class="row align-items-center">
      <!-- Imagen -->
      <div class="col-md-6 text-center">
        <img src="img/playera_negra.png" alt="Playera negra" class="img-fluid">
      </div>
  
      <!-- Detalles del producto -->
      <div class="col-md-6">
        <h4 class="fw-bold">Playera basic</h4>
        <p class="text-muted">Playera 100% de algodón.<br>Cómoda para cualquier situación</p>
        <p class="fw-semibold">$200.00</p>
        <p class="mb-1">Color: <strong>Negro</strong></p>
        <p>Elige la talla:</p>
  
        <!-- Tallas -->
        <div class="mb-3">
          <button class="size-btn">S</button>
          <button class="size-btn">M</button>
          <button class="size-btn active">G</button>
          <button class="size-btn">XL</button>
        </div>
  
        <!-- Cantidad y carrito -->
        <div class="d-flex align-items-center">
          <button class="qty-btn">−</button>
          <span class="mx-2">1</span>
          <button class="qty-btn">+</button>
          <button class="ms-3 add-to-cart">Añadir al carrito</button>
        </div>
      </div>
    </div>
  </div>